html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.page-nav {
    margin-top: 30px;
    margin-bottom: 100px;
}

.conteiner {
    width: 1100px;
    margin: 0 auto;
    padding: 0;
}

.container .site-logo {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
    color: #555252;
    margin: 0;
    padding: 0;
}

.container .site-logo::first-letter {
    color: #1abc9c;
    font-weight: 900;
}

.nav-list {
    float: right;
    width: 470px;
    list-style: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.nav-list a {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    line-height: 36px;
    font-weight: 900;
    padding: 0 15px;
}

.nav-list:last-child a {
    padding-right: 0;
}

.nav-list a:hover {
    color: #1abc9c;
}

.nav-list li {
    float: left;
}

.topic {
    display: block;
    padding: 0;
    margin: 0 auto;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.topic::after {
    display: block;
    content: "";
    margin: 0 auto;
    margin-top: 27px;
    margin-bottom: 92px;
    height: 5px;
    width: 164px;
    background: #1abc9c;
}

.features-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.features-list li {
    width: 255px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    font-size: 0;
}

.features-list li:nth-child(4n) {
    margin-right: 0;
}

.features-list li:nth-last-child(-n + 4) {
    margin-bottom: 100px;
}

.features-list li p {
    float: left;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 900;
    line-height: 40px;
}

.features-list li:hover p:first-of-type {
    background: #1abc9c;
}

.features-list li:hover p:last-of-type {
    background: rgba(26, 188, 156, 44%)
}

.features-list li p:first-of-type {
    width: 186px;
    background: #000;
    color: #fff;
    padding-left: 15px;
}

.features-list li p:last-of-type {
    width: 54px;
    background: rgba(0, 0, 0, 44%);
    color: #fff;
    text-align: center;
}

.features-list li p:last-of-type::before {
    content: "\0024";
}

.title-list {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.title-list li {
    float: left;
    width: 350px;
    margin-right: 30px;
    margin-bottom: 45px;
    font-size: 0;
}

.title-list:nth-child(3n) {
    margin: 0;
}

.title-list img {
    margin: 0;
    margin-bottom: 14px;
}

.title-list li h3 {
    font-size: 18px;
    line-height: 26px;
    color: #555252;
    margin: 0;
    padding: 0;
}

.title-list li h3::after {
    display: block;
    content: "";
    margin: 0;
    margin-top: 11px;
    margin-bottom: 26px;
    height: 3px;
    width: 136px;
    background: #1abc9c;
}

.title-list li p {
    font-size: 14px;
    line-height: 26px;
    color: #555252;
    padding: 0;
    margin: 0;
    margin-bottom: 13px;
}

.footer-wrapper {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    box-sizing: border-box;
    width: 160px;
    height: 51px;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    background-color: #1abc9c;
    align-items: center;
    border-width: 0;  
    cursor: pointer;
}






